@page "/SubIssue/{id}"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Dapper1.Models

@inject IIssueData _IssueDb
@inject IUserData _UserDb

<div class="d-flex">

    <Sidebar></Sidebar>

    <div class="px-5 d-flex flex-column align-items-center w-100 ">
        <div class="heading mt-3">
            INDUSTRY-INSTITUTE INTERFACE [ICube]
        </div>

        <div class="container cont colw">
            <h1>Submit issue</h1>
        </div>
    
        <div class="container colw">
            <div class="row">
                <div class="col">
                    <div class="container mt-1 col-lg">
                        <EditForm Model="@newIssue" OnValidSubmit="@InsertIssue">

                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="mb-3 mt-3">
                                <label for="issue_heading">Issue Heading: </label>
                                <InputText @bind-Value="newIssue.Heading" class="form-control" id="email" placeholder="Write your heading here" />
                            </div>
                            <div class="mb-3">
                                <label for="issue_desc">Issue: </label>
                                <InputTextArea rows="5" class="form-control" placeholder="Organization Address" @bind-Value="newIssue.IssueBody" />
                            </div>
                            <div class="row">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Upload Supporting Documents:</label>
                                    <br><span><i>Kindly upload only .zip file,</i></span>
                                    <span><i>Click</i> <a target="_blank" href="https://www.win-rar.com/">here</a> <i>to download winrar to zip your files.</i></span>
                                </div>
                                <div class="col-sm">
                                    <input class="form-control mt-2 " type="file" id="formFile" name="upl_doc">
                                </div>
                                <div class="col-sm mt-2 float-end upload-file-btn">
                                    <button type="button" class="btn btn-primary" id="upl">Upload Now</button>
                                </div>
                            </div>
                            <div>

                            <button type="submit" class="btn btn-success mt-5">Submit</button>
                            </div>

                        </EditForm>
                    </div>
                </div>
            
                <div class="col h-100 colw">
                    <h3>Submitter Detail</h3>
                    <div class="container mt-3 col-lg h-100">
                        <form action="IndustryIndex.html">
                            <div class="mb-3 mt-3">
                                <label for="upd_name">Name: </label>
                                <input disabled type="text" class="form-control" id="upd_name" placeholder="" name="upd_name" value="@name">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="upd_desg">Desigination: </label>
                                <input disabled type="text" class="form-control" id="upd_desg" placeholder="" name="upd_desg" value="@desig">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="upd_email">E-mail: </label>
                                <input disabled type="email" class="form-control" id="upd_email" placeholder="" name="upd_email" value="@email">
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="upd_phone">Phone: </label>
                                <input disabled type="number" class="form-control" id="upd_phone" placeholder="" name="upd_phone" value="@phone">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        CUser = await _UserDb.GetUser(Int32.Parse(id));
        name = CUser[0].OrgName;
        desig = CUser[0].desig;
        email = CUser[0].UserName;
        phone = CUser[0].Phone;
    }

    private SubIssueModel? newIssue = new SubIssueModel();
    public List<UserModel> CUser;

    public string name;
    public string desig;
    public string email;
    public string phone;

    [Parameter]
    public string id { get; set; }


    private async Task InsertIssue()
    {
        string datetime = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
        DateTime InDate = DateTime.Parse(datetime);

        IssueModel p = new IssueModel
            {
                Heading = newIssue.Heading,
                Body = newIssue.IssueBody,
                UserId = id,
                SubmitDate = InDate,
                UpdateDate = InDate
            };

        await _IssueDb.InsertIssue(p);
        newIssue = new SubIssueModel();
    }

}
